.pro__pic {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
  bottom: 20px;
}

.pro__pic:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.02);
  cursor: pointer;
}
